<nav class="navbar navbar-dark bg-dark mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/logo.png" alt="Logo" height="30" class="d-inline-block align-text-top">
        <b><%= application_name %></b>
      </a>
    </div>
</nav>